################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MineSweepers/bin/Debug/net8.0-windows
/MineSweepers/obj
/ChessGame/bin/Debug/net8.0-windows
/ChessGame/obj
